
body {
    font-family: "Times New Roman", Times, serif; 
    margin: 0;
    padding: 0 20px 40px 20px;
    background-color: #f4f7f1;
    color: #333;
}


header {
    background-color: #1b5e20;
    color: white;
    padding: 10px 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.logo-box {
    position: absolute;
    left: 20px;
    background-color: #556b2f;
    padding: 5px;
    border: 2px solid #8fbc8f;
    width: 60px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo-box img {
    max-width: 100%;
    max-height: 100%;
}

header h1 {
    font-size: 2rem;
    margin: 0;
    letter-spacing: 2px;
}

/* Links e Menus */
.nav-links {
    text-align: center;
    margin-top: 20px;
}

.menu-principal {
    font-size: 1.2rem;
    letter-spacing: 5px;
    margin-bottom: 10px;
    color: #555;
}

.menu-secundario {
    color: #0000ff; 
    font-weight: bold;
    margin-bottom: 15px;
}

.filtros {
    font-weight: bold;
    color: #333;
}


.section-title {
    color: #4caf50; 
    font-size: 3rem;
    font-weight: normal;
    margin-top: 50px;
    margin-bottom: 20px;
    border-bottom: 1px dotted #ccc;
}


.item-container {
    display: grid;
    grid-template-columns: 250px 1fr 250px;
    gap: 20px;
    margin-bottom: 40px;
    align-items: center;
}


.item-image-box {
    text-align: center;
}

.item-image-box img {
    width: 100%;
    height: 180px;
    object-fit: cover;
    border: 2px solid #ddd;
    background-color: #fff;
}

.location {
    font-size: 0.9rem;
    margin-top: 5px;
    color: #333;
    font-weight: bold;
}


.item-details h3 {
    color: #0000ff; 
    font-size: 1.3rem;
    margin-top: 0;
    margin-bottom: 15px;
}

.item-details p {
    margin: 4px 0;
    font-size: 1rem;
    font-weight: bold;
    color: #555;
}


.item-price {
    font-size: 1.2rem;
    font-weight: bold;
    color: #555;
}


.highlight-red {
    color: #d32f2f; 
}

.highlight-green {
    color: #388e3c; 
}


@media (max-width: 900px) {
    .item-container {
        grid-template-columns: 1fr;
        text-align: center;
        background-color: #ffffff;
        padding: 20px;
        border-radius: 8px;
        box-shadow: 0 2px 5px rgba(0,0,0,0.05);
    }
    .item-image-box img {
        width: 80%;
        height: auto;
    }
}